<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Về chúng tôi</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png">
  </head>
  <body>
    <header class="hd">
      <div class="hd-wr">
        <div class="hd-top"> <span class="hd-text">HPT D-DAY </span></div>
        <div class="hd-bot">
          <div class="container"> 
            <div class="hd-flex"> 
              <div class="hd-logo"><a class="custom-logo-link" href=""> <img src="./assets/images/logo.svg" alt=""/></a></div>
              <div class="hd-nav">
                <div class="menu-nav">
                  <ul class="menu-list">
                    <li class="menu-item"><a class="menu-link" href="">Về HPT D-Day</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Chương trình</a>
                    </li>
                    <li class="menu-item dropdown"><a class="menu-link" href="">Đăng ký tham dự</a>
                      <ul class="menu-list">
                        <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 1</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 2</a>
                        </li>
                        <li class="menu-item dropdown"><a class="menu-link" href="">Đăng ký tham dự 3</a>
                          <ul class="menu-list">
                            <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 1</a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 2</a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 3</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Tin tức </a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Tài liệu - Hình ảnh</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="">Liên hệ</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hd-act"> 
                <div class="hd-lg"> 
                  <div class="hd-lg-item"> <img src="./assets/images/flag-en.svg" alt=""/><span class="txt">EN</span><span class="ic"><i class="fa-solid fa-chevron-down"></i></span>
                  </div>
                  <div class="hd-lg-drop"> <a class="hd-lg-item" href=""> <img src="./assets/images/flag-vn.svg" alt=""/><span class="txt">VN</span></a></div>
                </div>
                <div class="btn-box"><a class="btn pri" href=""><span class="txt"><span class="txt-inner">Kỷ yếu sự kiện </span><span class="txt-icon"><img src="./assets/images/ic-download.svg" alt=""/></span></span></a></div>
                <div class="burger">
                  <div class="hamburger" id="hamburger">
                    <svg class="ham" viewbox="0 0 100 100" width="48">
                      <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"></path>
                      <path class="line middle" d="m 30,50 h 40"></path>
                      <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="found foundJS"> 
        <div class="found-over foundOver"></div>
        <div class="found-x foundClose"> <i class="fa-solid fa-xmark-large"></i></div>
        <div class="found-wr">
          <div class="container"> 
            <div class="found-f"> 
              <p class="tt">TÌM KIẾM</p>
              <form action="">
                <div class="found-form"> 
                  <input type="text"/>
                  <button><img src="./assets/images/ic-srch.svg" alt=""/>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-overlay"></div>
      <div class="mobile">
        <div class="mobile-con">
          <div class="mobile-wr">
            <div class="mobile-nav">
              <div class="menu-nav">
                <ul class="menu-list">
                  <li class="menu-item"><a class="menu-link" href="">Về HPT D-Day</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Chương trình</a>
                  </li>
                  <li class="menu-item dropdown"><a class="menu-link" href="">Đăng ký tham dự</a>
                    <ul class="menu-list">
                      <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 1</a>
                      </li>
                      <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 2</a>
                      </li>
                      <li class="menu-item dropdown"><a class="menu-link" href="">Đăng ký tham dự 3</a>
                        <ul class="menu-list">
                          <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 1</a>
                          </li>
                          <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 2</a>
                          </li>
                          <li class="menu-item"><a class="menu-link" href="">Đăng ký tham dự 3 3</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Tin tức </a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Tài liệu - Hình ảnh</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="">Liên hệ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main page-about">
      <div class="ss-pd">
        <div class="container">
          <div class="btn-box"><a class="btn pri" href=""><span class="txt"><span class="txt-inner">Mua ngay </span><span class="txt-icon"><img src="./assets/images/ic-arrow.svg" alt=""/></span></span></a></div>
          <div class="btn-box"><a class="btn second" href=""><span class="txt"><span class="txt-inner">Mua ngay </span><span class="txt-icon"><img src="./assets/images/ic-arrow.svg" alt=""/></span></span></a></div>
          <div class="btn-box"><a class="btn third" href=""><span class="txt"><span class="txt-inner">Mua ngay </span><span class="txt-icon"><img src="./assets/images/ic-arrow.svg" alt=""/></span></span></a></div>
          <div class="btn-box"><a class="btn pri noic" href=""><span class="txt">Mua ngay</span></a></div>
          <div class="btn-box"><a class="btn second" href=""><span class="txt">Mua ngay</span></a></div>
          <div class="btn-box"><a class="btn third" href=""><span class="txt">Mua ngay</span></a></div>
          <div class="btn-box"><a class="btn four" href=""><span class="txt">Mua ngay</span></a></div>
          <label class="form-ip col"><span class="text">Chọn Tên</span>
            <div class="inner-wrap">
              <select class="re-select-main" name="" data-placeholder="Chọn Thành phố"> 
                <option value="">Chọn Thành phố</option>
                <option value="1">1 </option>
                <option value="1">1 </option>
                <option value="1">1 </option>
                <option value="1">1 </option>
              </select>
            </div>
          </label><a class="btns btns-second" href=""> 
            <div class="btns-txt">Search</div>
            <div class="btns-ic"> <i class="fa-solid fa-arrow-right"></i></div></a><a class="btns btns-third" href=""> 
            <div class="btns-txt">Contact us now</div>
            <div class="btns-ic"> <img src="./assets/images/ic-phonecall.svg" alt=""/>
            </div></a>
        </div>
      </div>
    </main>
    <footer class="ft"> 
      <div class="ft-box"> 
        <div class="container"> 
          <div class="ft-top"> 
            <div class="ft-flex row">   
              <div class="ft-item col">
                <div class="wrapper"> 
                  <div class="ft-logo"> <a class="custom-logo-link" href=""><img src="./assets/images/logo.svg" alt=""/></a></div>
                  <div class="ft-info">
                    <p class="ft-tt">Văn phòng Tổng công ty</p>
                    <p class="ft-address">Lô E2a-3 Đường D1, Khu Công nghệ cao, Phường Tăng Nhơn Phú, TP. HCM</p>
                  </div>
                  <div class="ft-info"> 
                    <div class="lines"> 
                      <p class="name">Website: </p>
                      <p class="val">https://hpt.vn</p>
                    </div>
                    <div class="lines"> 
                      <p class="name">Email: </p>
                      <p class="val">info@hpt.vn</p>
                    </div>
                    <div class="lines"> 
                      <p class="name">Hotline: </p>
                      <p class="val">+(84 28) 38 266 206</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ft-item col">
                <div class="wrapper"> 
                  <p class="ft-tt">Văn phòng Chi nhánh Hà Nội</p>
                  <div class="ft-info"> 
                    <p class="ft-address">Tầng 10, tòa nhà Việt, số 1 Thái Hà, Phường Đống Đa, TP. Hà Nội</p>
                    <div class="lines"> 
                      <p class="name">Tel: </p>
                      <p class="val">+(84 28) 38 266 206</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ft-item col">
                <div class="wrapper"> 
                  <p class="ft-tt">Trung tâm Dịch vụ Khách hàng</p>
                  <div class="ft-info"> 
                    <p class="ft-address">Số 37 Nguyễn Trường Tộ, Phường Xóm Chiếu, TP. HCM</p>
                    <div class="lines"> 
                      <p class="name">Tel:</p>
                      <p class="val">+(84 28) 38 266 206</p>
                    </div>
                    <div class="lines"> 
                      <p class="name">Hotline: </p>
                      <p class="val">18006686</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ft-signature"> <span class="txt">Bản quyền thuộc về Công ty Cổ phần Dịch vụ Công nghệ Tin học HPT</span></div>
        </div>
      </div>
    </footer>
    <div class="back-to-top backToTop">
      <div class="triangle"><img src="./assets/images/ic-totop.svg" alt=""/>
      </div>
    </div>
    <div class="sidefix"> 
      <div class="sidefix-item"> <a class="sidefix-link" href=""><img src="./assets/images/ic-yt-sq.svg" alt=""/></a></div>
      <div class="sidefix-item"><a class="sidefix-link" href=""><img src="./assets/images/ic-linkedin-sq.svg" alt=""/></a></div>
      <div class="sidefix-item"><a class="sidefix-link" href=""><img src="./assets/images/ic-fb-sq.svg" alt=""/></a></div>
      <div class="sidefix-item"><a class="sidefix-link copyJS" href=""><img src="./assets/images/ic-copy-sq.svg" alt=""/></a></div>
    </div>
    <script src="./assets/library/jquery/jquery.js"></script>
    <script src="./assets/library/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/library/aos/aos.js"></script>
    <script src="./assets/library/select2/select2.min.js"></script>
    <script src="./assets/library/gallery/lightgallery-all.min.js"></script>
    <script src="./assets/library/jquery/jquery-migrate.js"></script>
    <script src="./assets/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./assets/library/splitting/splitting.min.js"></script>
    <script src="./assets/library/fancybox/fancybox.umd.js"></script>
    <script src="./assets/library/gsap/gsap.min.js"></script>
    <script src="./assets/library/gsap/ScrollTrigger.min.js"></script>
    <script src="./assets/library/ukiyo/ukiyo.min.js"></script>
    <script src="./assets/library/splide/splide.min.js"></script>
    <script src="./assets/library/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="./assets/library/particel/particles.min.js"></script>
    <script src="./js/main.js" type="module"></script>
  </body>
</html>